<div class="mx-auto justify-center w-full lg:w-9/12 rounded bg-white mb-8 lg:mb-4 lg:mb-10 bg-gray-200 lg:max-w-5xl">
  <img class="mx-auto w-full object-cover" src="<%= image_url('banner.png') %>" alt="">
</div>