<h1 class="<%= @h1_classes_light_blue %>">What is Healthy Living?</h1>

<section class="<%= @normal_text_gray %>">Healthy Living is a free, online NHS service for people living with type 2 diabetes,
  it provides information and tools that will help users feel supported in self-managing their type 2 diabetes.
  It includes information about type 2 diabetes treatments, offers advice on emotional and mental wellbeing,
  and helps with adopting and maintaining healthy behaviours around diet and exercise.
</section>

<h2 class="<%= @h2_classes_blue %>">Your feedback is important</h2>

<div class="mb-4 lg:mb-0">
  <section class="<%= @normal_text_gray %>">
    <p class="mb-3">Before Healthy Living is launched nationally, we are looking for volunteers to provide
      feedback on the service. We do this to make sure the service meets the needs of people
      living with type 2 diabetes. Please register if you are interested in getting involved.</p>
    <p class="mb-3">During this development phase you will be able to sign up, start the diabetes management
      education course, and find answers to your questions about type 2 diabetes. Over time you
      will notice changes to the way pages look and get access to more information and features,
      as we make updates to the website based on the feedback we receive.</p>
    <p class="mb-3">We are interested in your experience using the site and we want to know if you run into any
      problems so we can work to fix them. To do this, we will ask you to provide feedback on
      certain parts of the service, this will be through surveys and reporting errors on pages. You
      may also be invited to take part in more detailed task-specific research activities, and you
      can decide if you wish to accept these invitations.</p>
    <p class="mb-3">If we already have enough volunteers when you register, you will be placed on a waiting list
      and we will contact you again when the service is open for new volunteers.</p>
  </section>
</div>

<h2 class="<%= @h2_classes_blue %>">Get help</h2>

<div class="mb-4 lg:mb-0">
  <section class="<%= @normal_text_gray %>">
    <p>If you need help with joining or using the Healthy Living programme, telephone: 0191 249 7801</p>
    <p class="mb-3">For technical support email: <a href="mailto:healthyliving@changinghealth.com" class="underline text-blue-600">healthyliving@changinghealth.com</a></p>
  </section>
</div>
