<%= render "banner" %>
<div class="<%= @container %>">
  <h1 class="<%= @h1_classes_light_blue %>">Access to this programme is only available in England.</h1>
  <section>
    <div class="mb-4">
      <p class="<%= @normal_text_gray %> mb-2">
        Your IP: <%= request.remote_ip %> is located in <%= @country %>.
      </p>
      <% if @country == 'United Kingdom of Great Britain and Northern Ireland' or @country == 'United Kingdom' %>
        <p class="<%= @normal_text_gray %> mb-4">
          To sign up to the Healthy Living program please click here for our sign up page <a class="underline text-blue-600" href="https://www.healthyliving.nhs.uk">https://www.healthyliving.nhs.uk</a>
        </p>
        <p class="<%= @normal_text_gray %>">
          If you need more help please contact us at <a href="mailto:healthyliving@changinghealth.com" class="underline text-blue-600">healthyliving@changinghealth.com</a>
        </p>
      <% else %>
        <p class="<%= @normal_text_gray %>">
          It looks like you’re trying to sign up to the Healthy Living programme from outside of England.
          If you need more help please contact us at <a href="mailto:healthyliving@changinghealth.com" class="underline text-blue-600">healthyliving@changinghealth.com</a>
        </p>
      <% end %>
    </div>
  </section>
</div>