<%= render "banner" %>
<div class="<%= @container %>">
  <h1 class="<%= @h1_classes_light_blue %>">You are now registered for Healthy Living</h1>
  <section>
    <p class="<%= @normal_text_gray_with_margin %>">Thank you for registering with Healthy Living.</p>

    <p class="<%= @normal_text_gray_with_margin %>">Our delivery partner Changing Health has sent you an email with a link to complete your
      registration and start your programme. The email will be sent from the email address <span class="italic text-blue-600">no-reply@changinghealth.com</span>.</p>

    <p class="<%= @normal_text_gray_with_margin %>">This email can sometimes end up in your spam or junk folder, so please check there if you can’t see it straightaway.</p>

    <p class="<%= @normal_text_gray_with_margin %>">If you haven’t heard from us in the next 15 minutes, email
      <a href="mailto:healthyliving@changinghealth.com" class="underline text-blue-600">healthyliving@changinghealth.com</a> for more help.</p>

    <p class="<%= @normal_text_gray_with_margin %>">For more information on diabetes go to the NHS website at
      <a href="https://www.nhs.uk/conditions/diabetes/" class="underline text-blue-600">https://www.nhs.uk/conditions/diabetes/</a></p>
  </section>
</div>