<div class="mx-auto justify-center w-full lg:w-9/12 rounded bg-white mb-8 lg:mb-4 lg:mb-10 bg-gray-200 lg:max-w-5xl">
  <div class="flex flex-row justify-center pt-1 px-4 mb-2">
    <div class="px-4">
      <div class="text-xl font-semibold bg-blue-500 text-white text-center leading-snug px-2">BETA</div>
    </div>
    <div class="text-xl font-semibold text-blue-500 text-center leading-snug flex-shrink">This is a new service - your feedback will help us to improve&nbsp;it.
    </div>
  </div>
  <div class="text-banner font-extrabold text-blue-500 text-center leading-snug pb-1 mt-2">Welcome to Healthy Living for
    people with type&nbsp;2 diabetes
  </div>
</div>
