<div class="grid grid-cols-1 mx-auto bg-gray-200 shadow-md rounded px-2 lg:px-8 pt-6 pb-8 mb-4">
  <% if @changing_health_form.request_failure %>
    <h1 class="<%= @h1_classes_red %>">We weren't able to process your form</h1>
    <p class="text-sm text-red-600 mb-4 text-2xl lg:text-sm">Please try completing and sending the form again. If you are still having problems contact us at <a class="underline" href="mailto:healthyliving@changinghealth.com">healthyliving@changinghealth.com</a></p>
  <% elsif @changing_health_form.email_exists %>
    <h1 class="<%= @h1_classes_red %>">The email address is already in use.</h1>
    <p class="text-sm text-red-600 mb-4 text-2xl lg:text-sm">Please use a different email address, or <a class="underline" href="https://app.changinghealth.com/">login</a> with your existing account.</p>
  <% elsif @changing_health_form.not_old_enough? %>
    <h1 class="<%= @h1_classes_red %>">This programme is only available to people who are aged 18 years or over.</h1>
    <p class="text-sm text-red-600 mb-4 text-2xl lg:text-sm">Please contact your GP for further advice.</p>
  <% else %>
    <h1 class="<%= @h1_classes_blue %>">Register for the programme</h1>
  <% end %>

  <% if @changing_health_form.errors.details.length > 0 %>
    <h3 id='form_errors' class="<%= @h3_classes_red %>">Please correct the form errors</h3>
  <% end %>

  <%= form_for @changing_health_form, as: :changinghealthform, url: { :action => "create", :anchor =>  'form_errors' } do |f| %>
    <div class="mb-4">
      <%= f.label :first_name, class: @label, id: 'first_name_label' %>
      <%= f.text_field :first_name,
                       class: @text_field %>
      <%= f.error_message_for(:first_name) %>
    </div>
    <div class="mb-4">
      <%= f.label :last_name, class: @label, id: 'last_name_label' %>
      <%= f.text_field :last_name,
                       class: @text_field %>
      <%= f.error_message_for(:last_name) %>
    </div>
    <div class="mb-4">
      <%= f.label :email, class: @label, id: 'email_label' %>
      <%= f.text_field :email,
                       class: @text_field %>
      <%= f.error_message_for(:email) %>
    </div>

    <div class="mb-2">
      <%= f.label :date_of_birth, class: @label, id: 'date_of_birth_label' %>
      <%= f.label "For example, 01 02 1990", class: @sub_label %>
      <%= f.text_field :date_of_birth, style: 'display: none' %>
      <%= f.error_message_for(:date_of_birth) %>
    </div>

    <div class="mb-4 flex flex-row">
      <div class="flex-grow">
        <%= f.label :day, class: @label, id: 'day_label' %>
        <%= f.number_field :day,
                         class: "w-1/2 text-center " + @date %>
        <%= f.error_message_for(:day) %>
      </div>
      <div class="flex-grow">
        <%= f.label :month, class: @label, id: 'month_label' %>
        <%= f.number_field :month,
                         class: "w-1/2 text-center " + @date %>
        <%= f.error_message_for(:month) %>
      </div>
      <div class="flex-shrink">
        <%= f.label :year, class: @label, id: 'year_label' %>
        <%= f.number_field :year,
                         class: "w-full text-center " + @date %>
        <%= f.error_message_for(:year) %>
      </div>
    </div>


    <div class="mb-4">
      <%= f.label :gender, class: @label, id: 'gender_label' %>
      <div class="relative">
        <% options = [['Male' ,0],['Female', 1],['Intersex',2],['Prefer not to say',3]].map{|k, v| [k, v]}.prepend(['Please select', nil]) %>
        <%= f.select(:gender, options, { include_blank: false, disabled: '', selected: f.object.gender ? f.object.gender : '' }, { :class => @select}) %>
        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-4 text-blue-700">
          <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
          </svg>
        </div>
      </div>
      <%= f.error_message_for(:gender) %>
    </div>
    <div class="mb-4">
      <%= f.label :postcode, class: @label, id: 'postcode_label' %>
      <%= f.text_field :postcode,
                       class: @text_field %>
      <%= f.error_message_for(:postcode) %>
    </div>

    <div class="mb-4">
      <%= f.label :best_type, "Which of the following best describes you?", class: @label, id: 'best_type_label' %>
      <div class="relative">
        <% options = [['I have type 2 diabetes',1],['I’m at risk of type 2 diabetes',2], ['I care for / support a person with type 2 diabetes',3], ['I have type 1 diabetes',4], ['I am a healthcare professional / I work in the diabetes field', 6], ['None of the above', 5]].map{|k, v| [k, v]}.prepend(['Please select', nil]) %>
        <%= f.select(:best_type, options, { include_blank: false, disabled: '', selected: f.object.best_type ? f.object.best_type : '' }, { :class => @select}) %>
        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-4 text-blue-700">
          <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
          </svg>
        </div>
      </div>
      <%= f.error_message_for(:best_type) %>
    </div>

    <div class="mb-4">
      <%= f.label :how, "How did you find out about Healthy Living?", class: @label, id: 'how_label' %>
      <div class="relative">
        <% options = ['Charity or community group - Diabetes UK', 'Charity or community group - Other', 'Friend or family member',
                      'Healthcare Professional - GP practice', 'Healthcare Professional – Other (e.g. community, hospital)',
                      'Online search', 'Poster, leaflet or other NHS promotion', 'Social media', 'None of the above'].map{|c| [c, c]}.prepend(['Please select', nil]) %>
        <%= f.select(:how, options, { include_blank: false, disabled: '', selected: f.object.how ? f.object.how : '' }, { :class => @select}) %>
        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-4 text-blue-700">
          <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
          </svg>
        </div>
      </div>
      <%= f.error_message_for(:how) %>
    </div>

    <div class="mb-4">
      <div class="flex">
        <div class="flex justify-center items-center">
          <%= f.check_box :policy, role: 'checkbox', class: 'mr-2 h-8 w-8 lg:h-4 lg:w-4' %>
          <%= f.label :policy, "I agree to Healthy Living's <a href='/privacy' target='_blank' class='underline'>Privacy Policy</a>*".html_safe, class: @checkbox_label, id: 'policy_label' %>
        </div>
      </div>
      <%= f.error_message_for(:policy) %>
    </div>

    <div class="mb-4 text-left">
      <%= f.submit "Register", class: @button %>
    </div>

    <div class="<%= @text_light %>">
      * By filling this form you are consenting to share your personal information with NHS England.
      Your information will be held confidentially and will not be shared with any third parties. For more information review our
      <a href="/privacy" target="_blank" class="text-blue-700 underline">Privacy Policy. <img alt="read on new page" class="h-6 w-6 lg:h-3 lg:w-3 inline-block ml-1" src="<%= image_url('link.png') %>"></a>
    </div>
  <% end %>
</div>