<h1 class="<%= @h1_classes_light_blue %>">What is Healthy Living?</h1>

<section class="<%= @normal_text_gray %>">Healthy Living is a free online NHS service for people living with type 2 diabetes, which provides knowledge and information that will support you to manage your condition. It includes;
  <ul class="list-disc pl-4 my-5">
    <li>information about type 2 diabetes and its treatments;</li>
    <li>advice on emotional and mental wellbeing;</li>
    <li>advice with adopting and maintaining healthy behaviours with food and exercise.</li>
  </ul>
  The Healthy Living programme is currently being developed but you can still sign up,
  start the course, and find answers to your questions about type 2 diabetes. Over time you will notice changes to the way pages look and get access to more information and features, as we make updates to the website based on the feedback we receive.
</section>

<h2 class="<%= @h2_classes_blue %>">We value your feedback</h2>

<div class="mb-4 lg:mb-0">
  <section class="<%= @normal_text_gray %>">
    <p class="mb-3">This is a new service and your feedback will help us to improve it. We will give you the opportunity to provide feedback on the service through surveys,
      and on each page, you can find a weblink to give us feedback. You may also be invited to take part in service user research activities, and taking part is up to you.</p>
  </section>
</div>

<h2 class="<%= @h2_classes_blue %>">Get help</h2>

<div class="mb-4 lg:mb-0">
  <section class="<%= @normal_text_gray %>">
    <p class="mb-3">If you need help with joining or using the Healthy Living programme, <a href="mailto:healthyliving@support.changinghealth.com" class="underline text-blue-600">email us</a> for further support.</p>
    <p class="mb-3">If you need help using online services call 0191 249 7801 to access specialist support.</p>
    <p class="mb-3">Our support team are available Monday to Friday, 9am to 5pm.</p>
  </section>
</div>

<div class="mb-4 lg:mb-0">
  <section class="<%= @normal_text_gray %>">
    <p class="mb-3">We cannot offer medical advice. The support telephone contact and email address are not monitored by medically trained members of staff.</p>
    <p class="mb-3">If you are concerned about your health, please contact a health professional such as your GP,  or call NHS 111 by dialling 111 from any landline or mobile phone free of charge. Deaf people can use text relay to call 18001 111.</p>
  </section>
</div>
