<%= render "banner" %>
<div class="<%= @container %>">
  <div class="grid grid-cols-1 lg:grid-cols-2 ">
    <div class="font-bold mr-0 lg:mr-4 mx-auto">
      <%= render "info" %>
    </div>
    <div>
      <%= render "form" %>
    </div>
  </div>
  <div class="mx-auto bg-gray-200 shadow-md rounded px-8 pt-6 pb-8 mt-8 mb-2">
    <h1 class="<%= @h1_classes %>">Already registered?</h1>
    <div class="mb-3">
      <div class="<%= @normal_text %> mb-3">Login to Healthy Living by clicking the button below.
        The link will take you to the login page of our programme partner Changing Health.
      </div>
      <div class="<%= @normal_text %>">You will need your username and password to access the programme.</div>
    </div>
    <div class="mt-6 text-center lg:text-left">
      <a href="https://app.changinghealth.com/" class="<%= @button %>">LOGIN</a>
    </div>
  </div>
</div>