<div class="<%= @container %>">
  <h1 class="<%= @h1_classes_light_blue %>">Healthy Living Fair Processing Notice - Privacy Notice</h1>
  <section>
    <h2 class="<%= @h2_classes_blue %>">Introduction</h2>

    <p class="<%= @normal_text_gray_with_margin %>">
      Changing Health Limited has been commissioned by NHS England (NHSE) to deliver the “Healthy Living for People with type 2 diabetes”
      Service (the Programme) which aims to deliver structured education for diabetes patients via a digital tool to help to change the behaviours and health
      of people with type 2 diabetes.
    </p>
    <p class="<%= @normal_text_gray_with_margin %>">
    Changing Health is required by NHSE to collect information about you, including limited personal data, to inform an evaluation
    of the service. To do this Changing Health will collect information on you from the digital intervention itself. This notice details the information that
    is required from you to participate in the Programme and how it will be used. 
    </p>
    <p class="<%= @normal_text_gray_with_margin %>">
    Please note that you need to be over 18 years old to use this service,
    and a resident in the United Kingdom.
    </p>
    <p class="<%= @normal_text_gray_with_margin %>">
 Information required for the education programme and how it will be used 
    </p>
    <p class="<%= @normal_text_gray_with_margin %>">
    Changing Health will collect information
    on you to find out if the digital service you receive has resulted in any behaviour or health changes. 
    </p>
    <p class="<%= @normal_text_gray_with_margin %>">
    The information collected about you will include:
    </p>

    <ul class="list-disc pl-4 <%= @normal_text_gray_with_margin %>">
      <li>Post Code</li>
      <li>Date of birth</li>
      <li>Email address</li>
      <li>Name</li>
      <li>NHS number</li>
      <li>Age</li>
      <li>Ethnic origin</li>
      <li>Height at baseline</li>
      <li>Weight at baseline</li>
      <li>HbA1C blood tests result at baseline</li>
      <li>Type of referral</li>
      <li>Number of activities completed</li>
      <li>Pages visited, if applicable for that technology provider</li>
      <li>Personalised emails</li>
      <li>Log ins</li>
      <li>Diabetes type</li>
      <li>Date of diagnosis</li>
      <li>Type of activities completed</li>
    </ul>

    <p class="<%= @normal_text_gray_with_margin %>">
    Changing Health is responsible for the recording, processing and securely storing the information you provide via the participant data
    monitoring form (the main form used to record your information during the Programme). 
    </p>

    <p class="<%= @normal_text_gray_with_margin %>">
    As mentioned above,
    NHS England will conduct an evaluation with the assistance of NHS Digital, based on the findings of Changing Health.
    The information received by NHS Digital from Changing Health for this purpose will be in a pseudonymised form. This means that Changing Health
    will remove from the information any personal data that will identify you such as name, address and date of birth, before providing it to NHS Digital.
    Personal data will not be disclosed to conduct the Programme evaluation (and as such individuals should not be identifiable). 
    </p>

    <h3 class="<%= @h3_classes_blue %>">Cookies</h3>
    <p class="<%= @normal_text_gray_with_margin %>">
      <script id="CookieDeclaration" src="https://consent.cookiebot.com/b4cadd8c-5227-4608-bbca-d3f3ea6882a6/cd.js" type="text/javascript" async></script>
    </p>

    <p class="<%= @normal_text_gray_with_margin %>">
    There are various ways you can restrict the use of specific cookies, for example by changing your browser, privacy or security settings.
    Some cookies are essential and cannot be restricted or need to be permanently disabled in order for them not to reapply on your next visit.
    Also disabling certain types of cookies could impact on the functionality of the website itself.
    Further information in relation to how to amend these settings can usually be found by following the help or FAQs option of your browser or by
    visiting www.allaboutcookies.org.
    </p>
    <h3 class="<%= @h3_classes_blue %>">How long your information will be kept for </h3>
    <p class="<%= @normal_text_gray_with_margin %>">
    Subject to the requirements of applicable law
    (and including in that your deletion right in respect of personal data), your information shall be kept for up to a maximum of twenty-one years after the pilot ends.
    </p>

    <h3 class="<%= @h3_classes_blue %>">Sharing your information</h3>
    <p class="<%= @normal_text_gray_with_margin %>">
    The parties involved in the service evaluation include Changing Health,
    NHSE and NHS Digital who will collect and share between them information on you relating to your use of the programme.
    Changing Health will be collating, analysing and reporting the information to NHS Digital, in the pseudonymised manner noted above.
    </p>
    <h3 class="<%= @h3_classes_blue %>">Information security</h3>
    <p class="<%= @normal_text_gray_with_margin %>">
    To protect your information Changing Health, NHSE and NHS Digital each have required policies and procedures
    in place to make sure only authorised personnel access your information, that your information is handled and stored in a secure and
    sensible way and all systems that can access your information have the necessary security measures. All respective employees, contractors
    and sub-contractors have roles and responsibilities defined in those policies and procedures.
    </p>

    <p class="<%= @normal_text_gray_with_margin %>">
    To ensure all Changing Health, NHSE and NHS Digital’s employees,
    contractors and subcontractors understand these responsibilities they are provided with the necessary training and resources they need by that entity. 
    </p>
    <p class="<%= @normal_text_gray_with_margin %>">
    In addition Changing Health, NHSE and NHS Digital each use a range of technologies and security systems to reinforce the policies and vulnerability tests
    are run regularly. Audits to identify areas of weakness and non-compliance are routinely scheduled. Additionally, all areas of each organisation
    are constantly monitored and measured to identify problems and issues before they arise. 
    </p>
    <p class="<%= @normal_text_gray_with_margin %>">
    If you would like further information in relation to the information
    security procedures referred to above, please contact Changing Health (see below for contact details).  
    </p>

    <h3 class="<%= @h3_classes_blue %>">Your rights</h3>
    <p class="<%= @normal_text_gray_with_margin %>">
    At any point you can contact Changing Health
    to request details and copies of the personal data Changing Health, NHSE and NHS Digital hold about you for this pilot as well as why your personal data is being held,
    who has access to it and where it has been obtained from. Once Changing Health has received your request Changing Health will respond within 30 days.
    There are no fees or charges for the first request but any additional request for the same personal data may be subject to an administrative fee.
    In order to process your request Changing Health may need to verify your identity for your security.
    In such cases, your response will be necessary for you to exercise this right.
    </p>
    <p class="<%= @normal_text_gray_with_margin %>">
    You have the right to have your personal data erased. If you feel that Changing Health, NHSE and NHS Digital should no longer be using your personal
    data for the pilot or that the Changing Health, NHSE or NHS Digital is using your personal data for the pilot in a way that you have not consented to you
    can request that your personal data is erased. When Changing Health receives your request they will confirm whether the personal data has been deleted or tell
    you the reason why it cannot be deleted. In order to process your request the Changing Health may need to verify your identity for your security.
    In such cases your response will be necessary for you to exercise this right. 
    </p>
    <p class="<%= @normal_text_gray_with_margin %>">
    You have the right to request that Changing Health, NHSE or NHS Digital stops
    processing your personal data for the pilot. When Changing Health receives your request, they will contact you to tell you if they are each able to comply
    or if any of those entities has legitimate grounds to retain certain personal data about you (e.g. as part of internal claims handling procedures).
    In order to process your request Changing Health may need to verify your identity for your security. In such cases your response will be necessary for you
    to exercise this right. You have the right to request that Changing Health, UOM, NHSE, NDA or your General Practitioner transfers the personal data they hold
    on you to another controller (in accordance with data protection legislation). In order to process your request Changing Health may need to verify your
    identity for your security. In such cases your response will be necessary for you to exercise this right. 
    </p>
    <h3 class="<%= @h3_classes_blue %>">Consent</h3>
    <p class="<%= @normal_text_gray_with_margin %>">
    By checking the consent box you are stating that you have been informed as to why Changing Health
    is collecting the information as part of the Programme, how it will be used, for how long it will be kept, who else will have access to it and what
    your rights are as a data subject.  
    </p>
    <h3 class="<%= @h3_classes_blue %>">Contact the technology provider</h3>
    <p class="<%= @normal_text_gray_with_margin %>">
    If you have any queries about this notice, need further information or wish to lodge
    a complaint you can use the details below to contact Changing Health:
    </p>
    <h3 class="<%= @h3_classes_blue %>">Data compliance contact</h3>
    <p class="<%= @normal_text_gray_with_margin %>">
    Technology provider: Changing Health,
      The Catalyst, Newcastle Helix, 3 Science Square, Newcastle upon Tyne, NE4 5TG, <a href="mailto:hello@changinghealth.com" class="underline text-blue-600">hello@changinghealth.com</a> 0333 866 6147 
    </p>
    <p class="<%= @normal_text_gray_with_margin %>">
    Data Controller: NHS England and NHS Improvement, Quarry House, Quarry Hill, Leeds, LS2 7UE
    </p>
  </section>

  <div class="mt-6 text-center lg:text-left mt-12">
    <a href="/" class="bg-blue-600 hover:bg-blue-700 text-white px-5 lg:px-8 py-4 lg:py-2 border rounded-full uppercase font-bold text-3xl lg:text-sm">Return to sign up form</a>
  </div>
</div>
