@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}