<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>A user received error <%= @response %></h1>
<p>With following errors: </p>
<p><%= @errors %></p>
<% if @request %>
  <p>Original request: </p>
  <p><%= @request %></p>
<% end %>
</body>
</html>