<!DOCTYPE html>
<html lang="en" style="font-size: 26px">
  <head>
    <title>Healthy Living</title>
    <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="b4cadd8c-5227-4608-bbca-d3f3ea6882a6" data-blockingmode="auto" type="text/javascript"></script>
    <% if Rails.env.production? %>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-167172570-1"></script>
      <script src="https://www.googleoptimize.com/optimize.js?id=OPT-N4RCXR9"></script>
      <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
      </script>
    <% end %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-gray-200 flex flex-col min-h-screen font-arial">
    <header class="bg-white h-48 lg:h-24 mb-4 lg:mb-8 shadow">
      <div class="mx-auto flex flex-wrap md\:flex-no-wrap lg:flex-row w-full lg:w-9/12 h-48 lg:h-24 items-center justify-center lg:max-w-5xl">
        <div class="flex-shrink order-1">
          <img class="ml-2 lg:ml-1 h-20 lg:h-24 lg:py-1" src="<%= image_url('HL.png')%>" alt="Healthy Living logo">
        </div>
        <div class="flex-grow order-2"></div>
        <a href="https://app.changinghealth.com/" class="flex-shrink bg-blue-700 hover:bg-blue-800 text-white px-5 lg:px-8 py-4 lg:py-2
                          border rounded-full uppercase font-bold text-3xl lg:text-sm order-last lg:order-3 mr-4 lg:mr-0">Login</a>
        <div class="flex-shrink order-4">
          <img src="<%= image_url('NHS-logo.png') %>" alt="NHS logo" class="h-20 lg:h-6 ml-4 mr-4 lg:mr-1">
        </div>
      </div>
    </header>
    <%= yield %>
    <div class="flex-grow"></div>
    <footer class="mt-16">
      <div class="w-full bg-blue-700 text-white text-center py-4 lg:py-2 text-2xl lg:text-xs"><a href="/privacy" target="_blank">Privacy and Cookies</a></div>
      <div class="w-full bg-blue-700 text-white text-center py-4 lg:py-2 text-2xl lg:text-xs"><a href=" https://www.changinghealth.com/accessibility-statement/" target="_blank">Accessibility Statement</a></div>
    </footer>
  </body>
</html>
